@model IEnumerable<ZonaRTX.Models.CategoriasModel>

@{
    ViewData["Title"] = "Categorias";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre_categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id_categoria }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id_categoria }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id_categoria })
            </td>
        </tr>
}
    </tbody>
</table>
