@model IEnumerable<ZonaRTX.Models.ProductosModel>

@{
    ViewData["Title"] = "Productos";
}

<h1>Productos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear Producto</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/lib/images/laptop.png" class="card-img-top" alt="@item.nombre_producto" />
                <div class="card-body">
                    <h5 class="card-title">@item.nombre_producto</h5>
                    <p class="card-text">@item.descripcion</p>
                    <p class="card-text"><strong>Precio: </strong>@item.precio</p>
                    <p class="card-text">
                        <small class="text-muted">
                            Agregado el: @(item.fecha_agregado?.ToShortDateString() ?? "Fecha no disponible")
                        </small>
                    </p>
                    <a href="@Url.Action("Edit", new { id = item.id_producto })" class="btn btn-warning">Editar</a>
                    <a href="@Url.Action("Delete", new { id = item.id_producto })" class="btn btn-danger">Eliminar</a>
                </div>
            </div>
        </div>
    }
</div>
